<div class="cwr-slick-item">
  <div>
    <!-- need to mobile device -->
    <div class="cwr-our-product__box">
      {%- if product.url != blank -%}
        <a href="{{ product.url }}">
          <figure>
            {%- if product.featured_image != blank -%}
              <img
                data-src="{{ product.featured_image |  image_url  }}"
                alt="product img"
                class="img-fluid lazyload"
                width="344"
                height="344"
              >
            {%- endif -%}
          </figure>
        </a>
      {%- endif -%}
      {% for _ in product.tags %}
        {% assign tag = _ | downcase %}        
        {%- if tag == 'sale'
          and product.compare_at_price > product.price
        -%}
          <span class="cwr-new-arrival cwr-sale">{{ tag }}</span>
        {%- endif -%}
        {%- if tag == 'new arrival' -%}
          <span class="cwr-new-arrival">{{ tag }}</span>
        {%- endif -%}
      {% endfor %}
      <div class="cwr-our-product__box-content">
        <div class="cwr-rating">
          {% assign rating = product.metafields.custom.rating | default: 0 | round %}
          <ul>
            {% for i in (1..5) %}
              {% if i <= rating %}
                <li>
                  <img src="{{ 'rating-star.svg' | file_url }}" alt="filled star" class="img-fluid" height="" width="">
                </li>
              {% endif %}
            {% endfor %}
          </ul>
          {%- if product.metafields.custom.review_count != blank -%}
            <span>{{ product.metafields.custom.review_count }}</span>
          {%- endif -%}
        </div>
        <a href="{{ product.url }}">
          {%- if product.title != blank -%}
            <h5>{{ product.title }}</h5>
          {%- endif -%}
        </a>
        <div class="cwr-product-price">
          {%- if product.price != blank -%}
            <span>
              {%- if product.compare_at_price != blank -%}
                <del>{{ product.compare_at_price | money }}</del>
              {%- endif -%}
              {{ product.price | money }}
            </span>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
