{%- if section.blocks.size > 0 -%}
    <section class="cwr-review">
        <div class="container">
            <div class="sec-heading">
                {%- if section.settings.main_heading != blank -%}
                    <h2 class="custom-heading-md">{{ section.settings.main_heading }}</h2>
                {%- endif -%}
                {%- if section.settings.sub_heading != blank -%}
                    <h4 class="custom-heading-sm">{{ section.settings.sub_heading }}</h4>
                {%- endif -%}
            </div>
            <div class="cwr-review__wrap js-cwr-review-slider">
                {%- for block in section.blocks -%}              
                    <div class="cwr-review__slider">
                        <div class="cwr-rating">
                            <ul>
                                {%- for i in (1..5) -%}  
                                    <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                {%- endfor -%}
                            </ul>
                        </div>
                        {%- if block.settings.review != blank -%}      
                            <p>{{ block.settings.review }}
                            </p>
                        {%- endif -%}
                        <div class="cwr-review-img">
                            <figure>
                                {%- if block.settings.image != blank -%}    
                                    <img src="{{ block.settings.image |  image_url  }}" alt="review img" class="img-fluid" height="" width="" />
                                {%- endif -%}
                            </figure>
                            {%- if block.settings.reviewer_name != blank -%}
                                <span>{{ block.settings.reviewer_name }}</span>
                            {%- endif -%}
                        </div>
                    </div>
                {%- endfor -%}
            </div>
        </div>
    </section>
{%- endif -%}

{% schema %}
  {
    "name": "Custom Reviews",
    "settings": [
        {
            "type": "text",
            "label": "Main Heading",
            "id": "main_heading",
            "default": "WHY ARTISTS AND GRAFFITISTS LOVE SHOPPING WITH US"
        },
        {
            "type": "text",
            "label": "Sub Heading",
            "id": "sub_heading",
            "default": "Hear it straight from those who trust our products"
        }
    ],
    "blocks": [
      {
        "name": "Add Review",
        "type": "review",
        "settings": [
           {
            "type": "text",
            "label": "Review Text",
            "id": "review"
           },
           {
            "type": "text",
            "label": "Reviewer Name",
            "id": "reviewer_name"
           },
           {
            "type": "image_picker",
            "label": "Select Image",
            "id": "image"
           }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Reviews",
        "settings": {
            "main_heading":"WHY ARTISTS AND GRAFFITISTS LOVE SHOPPING WITH US",
            "sub_heading": "Hear it straight from those who trust our products"
        }
      }
    ]
  }
{% endschema %}