<section class="cwr-newsletter">
  <div class="container">
    <div class="cwr-newsletter__content">
      <div class="row">
        <div class="col-lg-6">
          <div class="cwr-newsletter__left">
            {% if section.settings.heading != blank %}
              <h2 class="custom-heading-md">{{ section.settings.heading }}</h2>
            {% endif %}

            {% if section.settings.subheading != blank %}
              <h4 class="custom-heading-sm">{{ section.settings.subheading }}</h4>
            {% endif %}

            <form action="">
              <input 
                type="text" 
                placeholder="{{ section.settings.placeholder_text | default: 'Email address....' }}" 
                id="email" 
                name="emailaddress"
              >

              {% if section.settings.button_label != blank %}
                <a href="javascript:void(0)" class="custom-btn">
                  <span>
                    {{ section.settings.button_label }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 18 15" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3429 0.292893L17.7069 6.65685C18.0974 7.04738 18.0974 7.68054 17.7069 8.07107L11.3429 14.435C10.9524 14.8256 10.3192 14.8256 9.92869 14.435C9.53816 14.0445 9.53816 13.4113 9.92869 13.0208L14.5855 8.36396H0.999756C0.447471 8.36396 -0.000244141 7.91625 -0.000244141 7.36396C-0.000244141 6.81168 0.447471 6.36396 0.999756 6.36396H14.5855L9.92869 1.70711C9.53816 1.31658 9.53816 0.683418 9.92869 0.292893C10.3192 -0.0976311 10.9524 -0.0976311 11.3429 0.292893Z" fill="black"/>
                    </svg>
                  </span>
                </a>
              {% endif %}
            </form>
          </div>
        </div>
      </div>

      <div class="cwr-newsletter__right">
        <div class="cwr-newsletter__right-img">
          {% if section.settings.desktop_image != blank %}
            <img src="{{ section.settings.desktop_image | image_url }}" alt="newsletter desktop image" class="img-fluid desktop-img" height="" width="">
          {% endif %}

          {% if section.settings.mobile_image != blank %}
            <img src="{{ section.settings.mobile_image | image_url }}" alt="newsletter mobile image" class="img-fluid mobile-img" height="" width="">
          {% endif %}

          <div class="cwr-newsletter__right-img2">
            {% if section.settings.right_image1 != blank %}
              <img src="{{ section.settings.right_image1 | image_url }}" alt="newsletter image 1" class="img-fluid" height="" width="">
            {% endif %}
            {% if section.settings.right_image2 != blank %}
              <img src="{{ section.settings.right_image2 | image_url }}" alt="newsletter image 2" class="img-fluid since-year" height="" width="">
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection Newsletter",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Sign up for email"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading",
      "default": "Sign up for exclusive discounts, updates, new releases, and more!"
    },
    {
      "type": "text",
      "id": "placeholder_text",
      "label": "Email Placeholder",
      "default": "Email address...."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Subscribe"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "image_picker",
      "id": "right_image1",
      "label": "Right Image 1"
    },
    {
      "type": "image_picker",
      "id": "right_image2",
      "label": "Right Image 2"
    }
  ],
  "presets": [
    {
      "name": "Collection Newsletter",
      "settings": {
        "heading": "Sign up for email",
        "subheading": "Sign up for exclusive discounts, updates, new releases, and more!",
        "placeholder_text": "Email address....",
        "button_label": "Subscribe"
      }
    }
  ]
}
{% endschema %}
