<section class="cwr-logo-slider">
    <div class="cwr-logo-slider__content js-logo-slider-content">
        <div class="cwr-logo-slider__content-img">
            <figure>
                <img data-src="{{ 'logo-slider-img1.png' |  file_url }}" alt="logo-slider-img" class="img-fluid lazyload"
                    width="188" height="85">
            </figure>
        </div>
        <div class="cwr-logo-slider__content-img">
            <figure>
                <img data-src="{{ 'logo-slider-img2.png' |  file_url }}" alt="logo-slider-img" class="img-fluid lazyload"
                    width="188" height="85">
            </figure>
        </div>
        <div class="cwr-logo-slider__content-img">
            <figure>
                <img data-src="{{ 'logo-slider-img3.png' |  file_url }}" alt="logo-slider-img" class="img-fluid lazyload"
                    width="188" height="85">
            </figure>
        </div>
        <div class="cwr-logo-slider__content-img">
            <figure>
                <img data-src="{{ 'logo-slider-img4.png' |  file_url }}" alt="logo-slider-img" class="img-fluid lazyload"
                    width="188" height="85">
            </figure>
        </div>
        <div class="cwr-logo-slider__content-img">
            <figure>
                <img data-src="{{ 'logo-slider-img5.png' |  file_url }}" alt="logo-slider-img" class="img-fluid lazyload"
                    width="188" height="85">
            </figure>
        </div>
        <div class="cwr-logo-slider__content-img">
            <figure>
                <img data-src="{{ 'logo-slider-img6.png' |  file_url }}" alt="logo-slider-img" class="img-fluid lazyload"
                    width="188" height="85">
            </figure>
        </div>
        <div class="cwr-logo-slider__content-img">
            <figure>
                <img data-src="{{ 'logo-slider-img7.png' |  file_url }}" alt="logo-slider-img" class="img-fluid lazyload"
                    width="188" height="85">
            </figure>
        </div>
        <div class="cwr-logo-slider__content-img">
            <figure>
                <img data-src="{{ 'logo-slider-img8.png' |  file_url }}" alt="logo-slider-img" class="img-fluid lazyload"
                    width="188" height="85">
            </figure>
        </div>
        <div class="cwr-logo-slider__content-img">
            <figure>
                <img data-src="{{ 'logo-slider-img6.png' |  file_url }}" alt="logo-slider-img" class="img-fluid lazyload"
                    width="188" height="85">
            </figure>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Custom Logo Slider",
    "settings": [],
    "presets": [
      {
        "name": "Custom Logo Slider"
      }
    ]
  }
{% endschema %}