<section class="cwr-our-product cwr-our-product-new-arrivals">
    <div class="container">
        <div class="sec-heading">
            <h2 class="custom-heading-md">New arrivals</h2>
            <h4 class="custom-heading-sm">Take a look at the freshest additions to our collection</h4>
        </div>
    </div>
    <div class="cwr-our-product__wrap js-cwr-our-product">
        <div class="cwr-slick-item">
            <div> <!-- need to mobile device  -->
                <div class="cwr-our-product__box">
                    <a href="javascript:void(0)">
                        <figure>
                            <img data-src="{{ 'new-arrivals-img1.jpg' |  file_url }}" alt="product img"
                                class="img-fluid lazyload" width="344" height="344">
                        </figure>
                    </a>
                    <span class="cwr-new-arrival">New Arrival</span>
                    <div class="cwr-our-product__box-content">
                        <div class="cwr-rating">
                            <ul>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                            </ul>
                            <span>84 reviews</span>
                        </div>
                        <a href="javascript:void(0)">
                            <h5>Molotow Premium 400ml</h5>
                        </a>
                        <div class="cwr-product-price">
                            <span>USD$44.95</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cwr-slick-item">
            <div>
                <div class="cwr-our-product__box">
                    <a href="javascript:void(0)">
                        <figure>
                            <img data-src="{{ 'new-arrivals-img2.jpg' |  file_url }}" alt="product img"
                                class="img-fluid lazyload" width="344" height="344">
                        </figure>
                    </a>
                    <span class="cwr-new-arrival cwr-sale">SALE</span>
                    <div class="cwr-our-product__box-content">
                        <div class="cwr-rating">
                            <ul>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                            </ul>
                            <span>84 reviews</span>
                        </div>
                        <a href="javascript:void(0)">
                            <h5>Heavy Goods Sweater (Yorkshire Rose)</h5>
                        </a>
                        <div class="cwr-product-price">
                            <span> <del>USD$10.49</del>USD$7.49</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cwr-slick-item">
            <div>
                <div class="cwr-our-product__box">
                    <a href="javascript:void(0)">
                        <figure>
                            <img data-src="{{ 'new-arrivals-img3.jpg' |  file_url }}" alt="product img"
                                class="img-fluid lazyload" width="344" height="344">
                        </figure>
                    </a>
                    <span class="cwr-new-arrival">New Arrival</span>
                    <div class="cwr-our-product__box-content">
                        <div class="cwr-rating">
                            <ul>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                            </ul>
                            <span>84 reviews</span>
                        </div>
                        <a href="javascript:void(0)">
                            <h5>Stylefile 6 Classic Marker Set (Tryout Kit)</h5>
                        </a>
                        <div class="cwr-product-price">
                            <span>USD$44.95</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cwr-slick-item">
            <div>
                <div class="cwr-our-product__box">
                    <a href="javascript:void(0)">
                        <figure>
                            <img data-src="{{ 'new-arrivals-img4.jpg' |  file_url }}" alt="product img"
                                class="img-fluid lazyload" width="344" height="344">
                        </figure>
                    </a>
                    <span class="cwr-new-arrival cwr-sale">SALE</span>
                    <div class="cwr-our-product__box-content">
                        <div class="cwr-rating">
                            <ul>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                            </ul>
                            <span>84 reviews</span>
                        </div>
                        <a href="javascript:void(0)">
                            <h5>Molotow Premium 400ml</h5>
                        </a>
                        <div class="cwr-product-price">
                            <span><del>USD$10.49</del>USD$7.49</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cwr-slick-item">
            <div>
                <div class="cwr-our-product__box">
                    <a href="javascript:void(0)">
                        <figure>
                            <img data-src="{{ 'new-arrivals-img1.jpg' |  file_url }}" alt="product img"
                                class="img-fluid lazyload" width="344" height="344">
                        </figure>
                    </a>
                    <span class="cwr-new-arrival">New Arrival</span>
                    <div class="cwr-our-product__box-content">
                        <div class="cwr-rating">
                            <ul>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                                <li><img src="{{ 'rating-star.svg' |  file_url }}" alt="star icon" class="img-fluid" height="" width="" /></li>
                            </ul>
                            <span>84 reviews</span>
                        </div>
                        <a href="javascript:void(0)">
                            <h5>Molotow Burner 600ml</h5>
                        </a>
                        <div class="cwr-product-price">
                            <span>USD$44.95</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Custom New Arrivals",
    "settings": [],
    "presets": [
      {
        "name": "Custom New Arrivals"
      }
    ]
  }
{% endschema %}