<section class="cwr-our-categories">
    <div class="container">
        <div class="sec-heading">
            <h2 class="custom-heading-md">Explore our categories</h2>
            <h4 class="custom-heading-sm">Transform your living spaces with sophisticated artistry</h4>
        </div>
        <div class="row">
            <div class="col-lg-4 col-6">
                <a href="javascript:;">
                    <div class="img-content">
                        <div class="img-content__bg">
                            <img data-src="{{ 'our-categories-bg-img1.jpg' |  file_url }}" alt="our-categories-bg-img"
                                class="img-fluid lazyload" width="405" height="512">
                        </div>
                        <button class="img-content__btn">spray paint</button>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-6">
                <a href="javascript:;">
                    <div class="img-content">
                        <div class="img-content__bg">
                            <img data-src="{{ 'our-categories-bg-img2.jpg' |  file_url }}" alt="our-categories-bg-img"
                                class="img-fluid lazyload" width="405" height="512">
                        </div>
                        <button class="img-content__btn">Markers</button>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-6">
                <a href="javascript:;">
                    <div class="img-content">
                        <div class="img-content__bg">
                            <img data-src="{{ 'our-categories-bg-img3.jpg' |  file_url }}" alt="our-categories-bg-img"
                                class="img-fluid lazyload" width="405" height="512">
                        </div>
                        <button class="img-content__btn">Caps</button>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-6">
                <a href="javascript:;">
                    <div class="img-content">
                        <div class="img-content__bg">
                            <img data-src="{{ 'our-categories-bg-img4.jpg' |  file_url }}" alt="our-categories-bg-img"
                                class="img-fluid lazyload" width="405" height="512">
                        </div>
                        <button class="img-content__btn">gear</button>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-6">
                <a href="javascript:;">
                    <div class="img-content">
                        <div class="img-content__bg">
                            <img data-src="{{ 'our-categories-bg-img5.jpg' |  file_url }}" alt="our-categories-bg-img"
                                class="img-fluid lazyload" width="405" height="512">
                        </div>
                        <button class="img-content__btn">bundles</button>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-6">
                <a href="javascript:;">
                    <div class="img-content">
                        <div class="img-content__bg">
                            <img data-src="{{ 'our-categories-bg-img6.jpg' | file_url }}" alt="our-categories-bg-img"
                                class="img-fluid lazyload" width="405" height="512">
                        </div>
                        <button class="img-content__btn">Other</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Custom Categories",
    "settings": [],
    "presets": [
      {
        "name": "Custom Categories"
      }
    ]
  }
{% endschema %}