<section class="cwr-collections">
  <div class="container">
    <form action="" class="cwr-form">
      <div class="cwr-collections__nav">
        {% assign category_menus = linklists.categories %}
        <div class="cwr-collections__nav-title">
          <h5 class="cwr-title cwr-title--style-5">{{ category_menus.title }}:</h5>
        </div>
        <ul class="cwr-collections__nav-list">
          {% for link in category_menus.links %}
            <li>
              <a class="cwr-collections__nav-link {% if link.active %}active{% endif %}" href="#">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="row">
        <div class="cwr-collections__col cwr-collections__col--filter">
          <div class="cwr-collections__filter">
            <div class="cwr-collections__filte-title">
              {% if section.settings.filter_title != blank %}
                <h6 class="cwr-title cwr-title--style-6">{{ section.settings.filter_title }}</h6>
              {% endif %}
              {% if section.settings.clear_all_text != blank %}
                <a class="cwr-collections__filter-clear-btn" href="#">{{ section.settings.clear_all_text }}</a>
              {% endif %}
            </div>
            <div class="cwr-faq-main js-faq-main-wrapper">
              <ul>
                {% for filter in collection.filters %}
                  {% if filter.param_name == 'filter.p.tag' %}
                    {%- assign has_category = false -%}
                    {%- assign has_brand = false -%}
                    {%- for value in filter.values %}
                      {% if value.label contains 'Category:' %}
                        {%- assign has_category = true -%}
                      {% endif %}
                      {% if value.label contains 'Brand:' %}
                        {%- assign has_brand = true -%}
                      {% endif %}
                    {%- endfor -%}

                    {% if has_category %}
                      <li class="cwr-faq-main__item">
                        <div class="cwr-faq-main__que cwr-faq-main__que--coll-filter js-faq-main-que">
                          <h6 class="cwr-title cwr-title--style-6">
                            {{ filter.label | strip | replace: 'More filters', 'Categories' }}
                          </h6>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="18"
                            viewBox="0 0 18 18"
                            fill="none"
                          >
                            <path d="M3.6 12.375L9 6.375L14.4 12.375" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </div>
                        <div
                          class="cwr-faq-main__ans cwr-faq-main__ans--coll-filter js-faq-main-ans"
                          style="display: none;"
                        >
                          <fieldset>
                            {% for value in filter.values %}
                              {% if value.label contains 'Category:' %}
                                <div class="cwr-form__field cwr-form__field--check">
                                  <input
                                    type="checkbox"
                                    class="cwr-form__input cwr-form__input--check"
                                    name="{{ filter.param_name }}"
                                    id="{{ value.value | handleize }}"
                                    {% if value.active %}
                                      checked
                                    {% endif %}
                                  >
                                  <label
                                    for="{{ value.value | handleize }}"
                                    class="cwr-form__label cwr-form__label--check"
                                  >
                                    {{- value.label | remove: 'Category:' -}}
                                  </label>
                                </div>
                              {% endif %}
                            {% endfor %}
                          </fieldset>
                        </div>
                      </li>
                    {% endif %}

                    {% if has_brand %}
                      <li class="cwr-faq-main__item">
                        <div class="cwr-faq-main__que cwr-faq-main__que--coll-filter js-faq-main-que">
                          <h6 class="cwr-title cwr-title--style-6">
                            {{ filter.label | strip | replace: 'More filters', 'Select Brands' }}
                          </h6>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="18"
                            viewBox="0 0 18 18"
                            fill="none"
                          >
                            <path d="M3.6 12.375L9 6.375L14.4 12.375" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </div>
                        <div
                          class="cwr-faq-main__ans cwr-faq-main__ans--coll-filter js-faq-main-ans"
                          style="display: none;"
                        >
                          <fieldset>
                            {% for value in filter.values %}
                              {% if value.label contains 'Brand:' %}
                                <div class="cwr-form__field cwr-form__field--check">
                                  <input
                                    type="checkbox"
                                    class="cwr-form__input cwr-form__input--check"
                                    name="{{ filter.param_name }}"
                                    id="{{ value.value | handleize }}"
                                    {% if value.active %}
                                      checked
                                    {% endif %}
                                  >
                                  <label
                                    for="{{ value.value | handleize }}"
                                    class="cwr-form__label cwr-form__label--check"
                                  >
                                    {{- value.label | remove: 'Brand:' -}}
                                  </label>
                                </div>
                              {% endif %}
                            {% endfor %}
                          </fieldset>
                        </div>
                      </li>
                    {% endif %}
                  {% endif %}

                  {% if filter.param_name == 'filter.v.option.colors' %}
                    <li class="cwr-faq-main__item">
                      <div class="cwr-faq-main__que cwr-faq-main__que--coll-filter js-faq-main-que">
                        <h6 class="cwr-title cwr-title--style-6">{{ filter.label | strip }}</h6>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                          <path d="M3.6 12.375L9 6.375L14.4 12.375" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </div>
                      <div
                        class="cwr-faq-main__ans cwr-faq-main__ans--coll-filter js-faq-main-ans"
                        style="display: none;"
                      >
                        <fieldset class="cwr-form__fieldset cwr-form__fieldset--color-variant">
                          {% for value in filter.values %}
                            <div class="cwr-form__field cwr-form__field--color-variant">
                              <input
                                type="checkbox"
                                class="cwr-form__input cwr-form__input--color-variant"
                                name="{{ filter.param_name }}"
                                id="{{ value.value | handleize }}"
                                {% if value.active %}
                                  checked
                                {% endif %}
                              >
                              <label
                                style="background-color: {{ value.label | strip }}; outline-color: {{ value.label | strip }};"
                                for="{{ value.value | handleize }}"
                                class="cwr-form__label cwr-form__label--color-variant"
                              >
                                {{ value.label }}
                              </label>
                            </div>
                          {% endfor %}
                        </fieldset>
                      </div>
                    </li>
                  {% endif %}

                  {% if filter.param_name == 'filter.p.m.custom.volumes' %}
                    <li class="cwr-faq-main__item">
                      <div class="cwr-faq-main__que cwr-faq-main__que--coll-filter js-faq-main-que">
                        <h6 class="cwr-title cwr-title--style-6">{{ filter.label | strip }}</h6>
                      </div>
                      <div
                        class="cwr-faq-main__ans cwr-faq-main__ans--coll-filter js-faq-main-ans"
                        style="display: none;"
                      >
                        <fieldset>
                          {% for value in filter.values %}
                            <div class="cwr-form__field cwr-form__field--check">
                              <input
                                type="checkbox"
                                class="cwr-form__input cwr-form__input--check"
                                name="{{ filter.param_name }}"
                                id="{{ value.value | handleize }}"
                                {% if value.active %}
                                  checked
                                {% endif %}
                              >
                              <label for="{{ value.value | handleize }}" class="cwr-form__label cwr-form__label--check">
                                {{- value.label -}}
                              </label>
                            </div>
                          {% endfor %}
                        </fieldset>
                      </div>
                    </li>
                  {% endif %}

                  {% if filter.param_name == 'filter.p.m.custom.deals' %}
                    <li class="cwr-faq-main__item">
                      <div class="cwr-faq-main__que cwr-faq-main__que--coll-filter js-faq-main-que">
                        <h6 class="cwr-title cwr-title--style-6">{{ filter.label | strip }}</h6>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                          <path d="M3.6 12.375L9 6.375L14.4 12.375" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </div>
                      <div
                        class="cwr-faq-main__ans cwr-faq-main__ans--coll-filter js-faq-main-ans"
                        style="display: none;"
                      >
                        <fieldset>
                          {% for value in filter.values %}
                            <div class="cwr-form__field cwr-form__field--check">
                              <input
                                type="radio"
                                class="cwr-form__input cwr-form__input--check"
                                name="{{ filter.param_name }}"
                                id="{{ value.value | handleize }}"
                                {% if value.active %}
                                  checked
                                {% endif %}
                              >
                              <label for="{{ value.value | handleize }}" class="cwr-form__label cwr-form__label--check">
                                {{- value.label -}}
                              </label>
                            </div>
                          {% endfor %}
                        </fieldset>
                      </div>
                    </li>
                  {% endif %}

                  {% if filter.param_name == 'filter.v.option.refill type' %}
                    <li class="cwr-faq-main__item">
                      <div class="cwr-faq-main__que cwr-faq-main__que--coll-filter js-faq-main-que">
                        <h6 class="cwr-title cwr-title--style-6">{{ filter.label | strip }}</h6>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                          <path d="M3.6 12.375L9 6.375L14.4 12.375" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </div>
                      <div
                        class="cwr-faq-main__ans cwr-faq-main__ans--coll-filter js-faq-main-ans"
                        style="display: none;"
                      >
                        <fieldset>
                          {% for value in filter.values %}
                            <div class="cwr-form__field cwr-form__field--check">
                              <input
                                type="radio"
                                class="cwr-form__input cwr-form__input--check"
                                name="{{ filter.param_name }}"
                                id="{{ value.value | handleize }}"
                                {% if value.active %}
                                  checked
                                {% endif %}
                              >
                              <label for="{{ value.value | handleize }}" class="cwr-form__label cwr-form__label--check">
                                {{- value.label -}}
                              </label>
                            </div>
                          {% endfor %}
                        </fieldset>
                      </div>
                    </li>
                  {% endif %}

                  {% if filter.param_name == 'filter.v.option.paint finish' %}
                    <li class="cwr-faq-main__item">
                      <div class="cwr-faq-main__que cwr-faq-main__que--coll-filter js-faq-main-que">
                        <h6 class="cwr-title cwr-title--style-6">{{ filter.label | strip }}</h6>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                          <path d="M3.6 12.375L9 6.375L14.4 12.375" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </div>
                      <div
                        class="cwr-faq-main__ans cwr-faq-main__ans--coll-filter js-faq-main-ans"
                        style="display: none;"
                      >
                        <fieldset>
                          {% for value in filter.values %}
                            <div class="cwr-form__field cwr-form__field--check">
                              <input
                                type="radio"
                                class="cwr-form__input cwr-form__input--check"
                                name="{{ filter.param_name }}"
                                id="{{ value.value | handleize }}"
                                value="{{ value.value }}"
                                {% if value.active %}checked{% endif %}
                              >
                              <label for="{{ value.value | handleize }}" class="cwr-form__label cwr-form__label--check">
                                {{- value.label -}}
                              </label>
                            </div>
                          {% endfor %}
                        </fieldset>
                      </div>
                    </li>
                  {% endif %}

                  {% if filter.min_value and filter.max_value %}
                    <li class="cwr-faq-main__item">
                      <div class="cwr-faq-main__que cwr-faq-main__que--coll-filter js-faq-main-que">
                        <h6 class="cwr-title cwr-title--style-6">{{ filter.label | strip }}</h6>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                          <path d="M3.6 12.375L9 6.375L14.4 12.375" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </div>
                      <div
                        class="cwr-faq-main__ans cwr-faq-main__ans--coll-filter js-faq-main-ans"
                        style="display: none;"
                      >
                        <div class="cwr-range-slider">
                          <div class="cwr-range-slider__value">
                            <input type="text" id="amount" readonly>
                          </div>
                          <div id="slider-range" class="cwr-range-slider__bar"></div>
                        </div>
                      </div>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            <div class="cwr-collections__secure">
              <div class="cwr-collections__secure-content">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                    <g clip-path="url(#clip0_48_1913)">
                      <path d="M2.89392 7.52049C3.57402 7.36848 4.39133 7.21481 5.30965 7.09732V5.59358C5.30965 3.84164 6.73495 2.41633 8.48689 2.41633C10.2388 2.41633 11.6641 3.84164 11.6641 5.59358V7.09732C12.5825 7.21481 13.3998 7.36848 14.0799 7.52049V5.59358C14.0799 2.50964 11.5709 0.000640869 8.48689 0.000640869C5.40292 0.000640869 2.89392 2.50964 2.89392 5.59361V7.52049Z" fill="black"/>
                      <path d="M8.4865 11.2284C8.12333 11.2284 7.82788 11.5238 7.82788 11.887C7.82788 12.2502 8.12333 12.5457 8.4865 12.5457C8.84966 12.5457 9.14512 12.2502 9.14512 11.887C9.14515 11.5238 8.84966 11.2284 8.4865 11.2284Z" fill="black"/>
                      <path d="M8.48639 7.94595C5.17179 7.94595 2.41062 8.69724 1.4646 8.98862V16.9582C2.41206 17.2494 5.17921 18.0012 8.48639 18.0012C11.801 18.0012 14.5622 17.2499 15.5082 16.9585V8.9889C14.5607 8.69773 11.7936 7.94595 8.48639 7.94595ZM9.01374 13.5162V15.2469H7.95905V13.5162C7.27164 13.2932 6.77309 12.647 6.77309 11.8862C6.77309 10.9415 7.54167 10.1729 8.48639 10.1729C9.43111 10.1729 10.1997 10.9415 10.1997 11.8862C10.1997 12.647 9.70118 13.2932 9.01374 13.5162Z" fill="black"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_48_1913">
                        <rect width="18" height="18" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
                </span>
                {% if section.settings.checkout_text != blank %}
                  <span>{{ section.settings.checkout_text }}</span>
                {% endif %}
              </div>
              {% if section.settings.payment_icons != blank %}
                <div class="cwr-collections__payment-icons">
                  <img
                    width="202"
                    height="16"
                    class="lazyload"
                    src="{{ section.settings.payment_icons |  image_url  }}"
                    alt="Payment Icons"
                  >
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="cwr-collections__col cwr-collections__col--grid">
          <div class="cwr-collections__right">
            <div class="cwr-collections__sorting">
              <div class="cwr-form__field cwr-form__field--sort-by">
                <label for="sort-by" class="cwr-form__label cwr-form__label--sort-by">Sort By:</label>
                <select class="cwr-form__input cwr-form__input--sort-by" name="sort-by" id="sort-by">
                  {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
                  {% for option in collection.sort_options %}
                    <option
                      value="{{ option.value |  escape }}"
                      {% if option.value == sort_by %}
                        selected="selected"
                      {% endif %}
                    >
                      {{ option.name | escape }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row cwr-collections__grid-row">
              {% if collection.products.size > 0 %}
                {% for product in collection.products %}
                  <div class="col-6 col-sm-4 col-lg-3 cwr-our-product__box-col">
                    <div class="cwr-our-product__box cwr-our-product__box--collections">
                      <a href="{{ product.url }}">
                        <figure>
                          <img
                            data-src="{{ product.featured_image |  image_url  }}"
                            alt="product img"
                            class="img-fluid lazyload"
                            height=""
                            width=""
                          >
                        </figure>
                      </a>
                      {% for tag in product.tags %}
                        {% if tag == 'SALE' and product.compare_at_price > product.price %}
                          <span class="cwr-new-arrival cwr-sale">{{ tag }}</span>
                        {% elsif tag == 'New Arrival' %}
                          <span class="cwr-new-arrival">{{ tag }}</span>
                        {% endif %}
                      {% endfor %}
                      <div class="cwr-our-product__box-content">
                        <div class="cwr-rating">
                          <ul>
                            {% assign product_rating = product.metafields.custom.star_rating | times: 1 %}
                            {% for i in (1..5) %}
                              {% if i <= product_rating %}
                                <li>
                                  <img
                                    src="{{ 'rating-star.svg' |  file_url }}"
                                    alt="star icon"
                                    class="img-fluid"
                                    height=""
                                    width=""
                                  >
                                </li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                          {% if product.metafields.custom.reviews_count != blank %}
                            <span>{{ product.metafields.custom.reviews_count }}</span>
                          {% endif %}
                        </div>
                        {% if product.title != blank %}
                          <a href="{{ product.url }}">
                            <h5>{{ product.title }}</h5>
                          </a>
                        {% endif %}
                        <div class="cwr-product-price">
                          {% if product.price != blank %}
                            <span>
                              {% if product.compare_at_price != blank %}
                                <del>{{ product.compare_at_price | money }}</del>
                              {% endif %}
                              {{ product.price | money }}
                            </span>
                          {% endif %}
                        </div>
                      </div>
                      <div class="cwr-our-product__box-cta">
                        {% if section.settings.product_button_text != blank %}
                          <a href="{{ product.url }}" class="custom-btn">
                            <span>{{ section.settings.product_button_text }}</span>
                            <span>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="18"
                                height="15"
                                viewBox="0 0 18 15"
                                fill="none"
                              >
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3429 0.292893L17.7069 6.65685C18.0974 7.04738 18.0974 7.68054 17.7069 8.07107L11.3429 14.435C10.9524 14.8256 10.3192 14.8256 9.92869 14.435C9.53816 14.0445 9.53816 13.4113 9.92869 13.0208L14.5855 8.36396H0.999756C0.447471 8.36396 -0.000244141 7.91625 -0.000244141 7.36396C-0.000244141 6.81168 0.447471 6.36396 0.999756 6.36396H14.5855L9.92869 1.70711C9.53816 1.31658 9.53816 0.683418 9.92869 0.292893C10.3192 -0.0976311 10.9524 -0.0976311 11.3429 0.292893Z" fill="black"></path>
                              </svg>
                            </span>
                          </a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
            <div class="cwr-collections__cta">
              {% if section.settings.load_more_text != blank %}
                <a href="#" class="custom-btn custom-btn--light">
                  <span>{{ section.settings.load_more_text }}</span>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

{% schema %}
{
  "name": "Collection Content",
  "settings": [
    {
      "type": "text",
      "label": "Filter Title",
      "id": "filter_title",
      "default": "Filter"
    },
    {
      "type": "text",
      "label": "Clear All Text",
      "id": "clear_all_text",
      "default": "Clear All"
    },
    {
      "type": "text",
      "label": "Checkout Text",
      "id": "checkout_text",
      "default": "Safe & Secure Checkout"
    },
    {
      "type": "image_picker",
      "label": "Select Payment Image",
      "id": "payment_image"
    },
    {
      "type": "text",
      "label": "Product Button Text",
      "id": "product_button_text",
      "default": "Shop Now"
    },
    {
      "type": "text",
      "label": "Load More Button Text",
      "id": "load_more_text",
      "default": "Load More"
    }
  ],
  "presets": [
    {
      "name": "Collection Content",
      "settings": {
        "filter_title": "Filter",
        "clear_all_text": "Clear All",
        "checkout_text": "Safe & Secure Checkout",
        "product_button_text": "Shop Now",
        "load_more_text": "Load More"
      }
    }
  ]
}
{% endschema %}
