<footer>
    <div class="container">
        <div class="footer-wrap desktop-footer">
            <div class="footer-wrap-content">
                <h4>MAIN PRODUCTS</h4>
                <ul>
                    <li><a href="#">Graffiti Spray Paint</a></li>
                    <li><a href="#">Graffiti Markers</a></li>
                    <li><a href="#">Spray Caps</a></li>
                    <li><a href="#">Graffiti Magazines</a></li>
                    <li><a href="#">Graffiti Books</a></li>
                    <li><a href="#">Streetwear</a></li>
                </ul>
            </div>
            <div class="footer-wrap-content">
                <h4>BRANDS</h4>
                <ul>
                    <li><a href="#">Molotow</a></li>
                    <li><a href="#">Dang Paint</a></li>
                    <li><a href="#">Flame Paint</a></li>
                    <li><a href="#">Krink</a></li>
                    <li><a href="#">Grog</a></li>
                    <li><a href="#">Stylefile</a></li>
                    <li><a href="#">On The Run</a></li>
                    <li><a href="#">Potentate</a></li>
                    <li><a href="#">Sakura</a></li>
                    <li><a href="#">Markal</a></li>
                </ul>
            </div>
            <div class="footer-wrap-content">
                <h4>INFORMATION</h4>
                <ul>
                    <li><a href="#">Your Account</a></li>
                    <li><a href="#">Faq</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Returns And Refunds</a></li>
                    <li><a href="#">Terms Of Service</a></li>
                    <li><a href="#">Search Terms</a></li>
                    <li><a href="#">Site Map</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Wholesale</a></li>
                </ul>
            </div>
            <div class="footer-wrap-content">
                <h4>FOLLOW US</h4>
                <ul class="social-icon">
                    <li><a href="#"><img src="{{ 'facebook-icon.svg' |  file_url }}" alt="social-icon"
                                class="img-fluid" height="" width="">FaceBook</a></li>
                    <li><a href="#"><img src="{{ 'twitter-icon.svg' |  file_url }}" alt="social-icon"
                                class="img-fluid" height="" width="">Twitter</a></li>
                    <li><a href="#"><img src="{{ 'google-icon.svg' |  file_url }}" alt="social-icon"
                                class="img-fluid" height="" width="">Google+</a></li>
                    <li><a href="#"><img src="{{ 'youtube-icon.svg' |  file_url }}" alt="social-icon"
                                class="img-fluid" height="" width="">YouTube</a></li>
                    <li><a href="#"><img src="{{ 'insta-icon.svg' |  file_url }}" alt="social-icon"
                                class="img-fluid" height="" width="">Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-wrap footer-mobile-content">
            <div class="footer-wrap-content">
                <h4>BRANDS</h4>
                <ul>
                    <li><a href="javascript:void(0)">Molotow</a></li>
                    <li><a href="javascript:void(0)">Dang Paint</a></li>
                    <li><a href="javascript:void(0)">Flame Paint</a></li>
                    <li><a href="javascript:void(0)">Krink</a></li>
                    <li><a href="javascript:void(0)">Grog</a></li>
                    <li><a href="javascript:void(0)">Stylefile</a></li>
                    <li><a href="javascript:void(0)">On The Run</a></li>
                    <li><a href="javascript:void(0)">Potentate</a></li>
                    <li><a href="javascript:void(0)">Sakura</a></li>
                    <li><a href="javascript:void(0)">Markal</a></li>
                </ul>
            </div>
            <div class="footer-wrap-content">
                <h4>INFORMATION</h4>
                <ul>
                    <li><a href="javascript:void(0)">Your Account</a></li>
                    <li><a href="javascript:void(0)">Faq</a></li>
                    <li><a href="javascript:void(0)">Contact Us</a></li>
                    <li><a href="javascript:void(0)">Returns And Refunds</a></li>
                    <li><a href="javascript:void(0)">Terms Of Service</a></li>
                    <li><a href="javascript:void(0)">Search Terms</a></li>
                    <li><a href="javascript:void(0)">Site Map</a></li>
                    <li><a href="javascript:void(0)">Testimonials</a></li>
                    <li><a href="javascript:void(0)">Wholesale</a></li>
                </ul>
            </div>
            <div class="footer-wrap-content">
                <h4>MAIN PRODUCTS</h4>
                <ul>
                    <li><a href="javascript:void(0)">Graffiti Spray Paint</a></li>
                    <li><a href="javascript:void(0)">Graffiti Markers</a></li>
                    <li><a href="javascript:void(0)">Spray Caps</a></li>
                    <li><a href="javascript:void(0)">Graffiti Magazines</a></li>
                    <li><a href="javascript:void(0)">Graffiti Books</a></li>
                    <li><a href="javascript:void(0)">Streetwear</a></li>
                </ul>
            </div>
            <div class="footer-wrap-content">
                <h4>FOLLOW US</h4>
                <ul class="social-icon">
                    <li><a href="javascript:void(0)"><img src="{{ 'facebook-icon.svg' |  file_url }}" alt="social-icon"
                                class="img-fluid" height="" width="">FaceBook</a></li>
                    <li><a href="javascript:void(0)"><img src="{{ 'twitter-icon.svg' |  file_url }}" alt="social-icon"
                                class="img-fluid" height="" width="">Twitter</a></li>
                    <li><a href="javascript:void(0)"><img src="{{ 'google-icon.svg' |  file_url }}" alt="social-icon"
                                class="img-fluid" height="" width="">Google+</a></li>
                    <li><a href="javascript:void(0)"><img src="{{ 'youtube-icon.svg' |  file_url }}" alt="social-icon"
                                class="img-fluid" height="" width="">YouTube</a></li>
                    <li><a href="javascript:void(0)"><img src="{{ 'insta-icon.svg' |  file_url }}" alt="social-icon"
                                class="img-fluid" height="" width="">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom-content">
                <div class="footer__bottom-left">
                    <p> <a href="javascript:void(0)"> © 2022 Bombing Science. </a> All Rights Reserved.</p>
                </div>
                <div class="footer__bottom-right">
                    <a href="mailto:support@bombingscience.com">support@bombingscience.com</a>
                    <ul>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

{% schema %}
  {
    "name": "Custom Footer",
    "settings": [],
    "presets": [
      {
        "name": "Custom Footer"
      }
    ]
  }
{% endschema %}