<section class="cwr-instagram">
    <div class="container">
        <div class="sec-heading">
            <h2 class="custom-heading-md">Follow Us On Instagram</h2>
            <a href="javascript:void(0)" class="custom-heading-sm"><svg xmlns="http://www.w3.org/2000/svg"
                    width="25" height="24" viewBox="0 0 25 24" fill="none">
                    <g clip-path="url(#clip0_436_8036)">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M18.4993 0H6.49961C3.19998 0 0.499756 2.70023 0.499756 5.99985V18.0001C0.499756 21.2989 3.19998 24 6.49961 24H18.4993C21.7989 24 24.4992 21.2989 24.4992 18.0001V5.99985C24.4992 2.70023 21.7989 0 18.4993 0ZM22.4991 18.0001C22.4991 20.2051 20.7055 22 18.4993 22H6.49961C4.29437 22 2.4998 20.2051 2.4998 18.0001V5.99985C2.4998 3.79432 4.29437 2.00005 6.49961 2.00005H18.4993C20.7055 2.00005 22.4991 3.79432 22.4991 5.99985V18.0001ZM19.0007 6.99993C19.8291 6.99993 20.5007 6.32837 20.5007 5.49996C20.5007 4.67156 19.8291 4 19.0007 4C18.1723 4 17.5007 4.67156 17.5007 5.49996C17.5007 6.32837 18.1723 6.99993 19.0007 6.99993ZM6.49976 11.9999C6.49976 8.68581 9.18528 6 12.4996 6C15.813 6 18.4995 8.68581 18.4995 11.9999C18.4995 15.3127 15.813 18.0003 12.4996 18.0003C9.18528 18.0003 6.49976 15.3127 6.49976 11.9999ZM8.4998 11.9999C8.4998 14.2093 10.2907 16.0002 12.4996 16.0002C14.7085 16.0002 16.4994 14.2093 16.4994 11.9999C16.4994 9.7904 14.7085 8.00005 12.4996 8.00005C10.2907 8.00005 8.4998 9.7904 8.4998 11.9999Z"
                            fill="black" />
                    </g>
                    <defs>
                        <clipPath id="clip0_436_8036">
                            <rect width="24" height="24" fill="white" transform="translate(0.499756)" />
                        </clipPath>
                    </defs>
                </svg>@bombingsci</a>
        </div>
        <div class="row">
            <div class="col-lg-3 col-4">
                <div class="cwr-instagram__content">
                    <div class="cwr-instagram__content-img">
                        <a href="javascript:void(0)">
                            <figure>
                                <img data-src="{{ 'insta-img1.jpg' |  file_url }}" alt="insta-img" class="img-fluid lazyload"
                                    width="291" height="291">
                            </figure>
                        </a>
                        <div class="cwr-instagram__content-img-icon">
                            <a href="javascript:void(0)">
                                <img src="{{ 'instagram-img-icon.svg' |  file_url }}" alt="insta-img" class="img-fluid" height="" width="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-4">
                <div class="cwr-instagram__content">
                    <div class="cwr-instagram__content-img">
                        <a href="javascript:void(0)">
                            <figure>
                                <img data-src="{{ 'insta-img2.jpg' |  file_url }}" alt="insta-img" class="img-fluid lazyload"
                                    width="291" height="291">
                            </figure>
                        </a>
                        <div class="cwr-instagram__content-img-icon">
                            <a href="javascript:void(0)">
                                <img src="{{ 'instagram-img-icon.svg' |  file_url }}" alt="insta-img" class="img-fluid" height="" width="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-4">
                <div class="cwr-instagram__content">
                    <div class="cwr-instagram__content-img">
                        <a href="javascript:void(0)">
                            <figure>
                                <img data-src="{{ 'insta-img3.jpg' |  file_url }}" alt="insta-img" class="img-fluid lazyload"
                                    width="291" height="291">
                            </figure>
                        </a>
                        <div class="cwr-instagram__content-img-icon">
                            <a href="javascript:void(0)">
                                <img src="{{ 'instagram-img-icon.svg' |  file_url }}" alt="insta-img" class="img-fluid" height="" width="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-4">
                <div class="cwr-instagram__content">
                    <div class="cwr-instagram__content-img">
                        <a href="javascript:void(0)">
                            <figure>
                                <img data-src="{{ 'insta-img4.jpg' |  file_url }}" alt="insta-img" class="img-fluid lazyload"
                                    width="291" height="291">
                            </figure>
                        </a>
                        <div class="cwr-instagram__content-img-icon">
                            <a href="javascript:void(0)">
                                <img src="{{ 'instagram-img-icon.svg' |  file_url }}" alt="insta-img" class="img-fluid" height="" width="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-4">
                <div class="cwr-instagram__content">
                    <div class="cwr-instagram__content-img">
                        <a href="javascript:void(0)">
                            <figure>
                                <img data-src="{{ 'insta-img5.jpg' |  file_url }}" alt="insta-img" class="img-fluid lazyload"
                                    width="291" height="291">
                            </figure>
                        </a>
                        <div class="cwr-instagram__content-img-icon">
                            <a href="javascript:void(0)">
                                <img src="{{ 'instagram-img-icon.svg' |  file_url }}" alt="insta-img" class="img-fluid" height="" width="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-4">
                <div class="cwr-instagram__content">
                    <div class="cwr-instagram__content-img">
                        <a href="javascript:void(0)">
                            <figure>
                                <img data-src="{{ 'insta-img6.jpg' |  file_url }}" alt="insta-img" class="img-fluid lazyload"
                                    width="291" height="291">
                            </figure>
                        </a>
                        <div class="cwr-instagram__content-img-icon">
                            <a href="javascript:void(0)">
                                <img src="{{ 'instagram-img-icon.svg' |  file_url }}" alt="insta-img" class="img-fluid" height="" width="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-4">
                <div class="cwr-instagram__content">
                    <div class="cwr-instagram__content-img">
                        <a href="javascript:void(0)">
                            <figure>
                                <img data-src="{{ 'insta-img7.jpg' |  file_url }}" alt="insta-img" class="img-fluid lazyload"
                                    width="291" height="291">
                            </figure>
                        </a>
                        <div class="cwr-instagram__content-img-icon">
                            <a href="javascript:void(0)">
                                <img src="{{ 'instagram-img-icon.svg' |  file_url }}" alt="insta-img" class="img-fluid" height="" width="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-4">
                <div class="cwr-instagram__content">
                    <div class="cwr-instagram__content-img">
                        <a href="javascript:void(0)">
                            <figure>
                                <img data-src="{{ 'insta-img8.jpg' |  file_url }}" alt="insta-img" class="img-fluid lazyload"
                                    width="291" height="291">
                            </figure>
                        </a>
                        <div class="cwr-instagram__content-img-icon">
                            <a href="javascript:void(0)">
                                <img src="{{ 'instagram-img-icon.svg' |  file_url }}" alt="insta-img" class="img-fluid" height="" width="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Custom Instagram",
    "settings": [],
    "presets": [
      {
        "name": "Custom Instagram"
      }
    ]
  }
{% endschema %}