<section class="cwr-img-content">
  <div class="container">
    <div class="cwr-img-content__left">
      <div class="cwr-img-content__left-img">
        {%- if section.settings.image_1 != blank -%}
          <img
            data-src="{{ section.settings.image_1 | image_url }}"
            alt="cwr-img-content-img"
            class="img-fluid lazyload"
            width="745"
            height="804">
        {%- endif -%}
      </div>
      <div class="cwr-img-content__left-img2">
        {%- if section.settings.image_2 != blank -%}
          <img
            data-src="{{ section.settings.image_2 |  image_url  }}"
            alt="cwr-img-content-img"
            class="img-fluid lazyload"
            width="228"
            height="236">
        {%- endif -%}
        {%- if section.settings.image_3 != blank -%}
          <img
            src="{{ section.settings.image_3 |  image_url  }}"
            alt="cwr-img-content-img"
            class="img-fluid since-year"
            height=""
            width="">
        {%- endif -%}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="cwr-img-content__right">
          {%- if section.settings.main_heading != blank -%}
            <h2 class="custom-heading-md">{{ section.settings.main_heading }}</h2>
          {%- endif -%}
          {%- if section.settings.sub_heading != blank -%}
            <h4 class="custom-heading-sm">{{ section.settings.sub_heading }}</h4>
          {%- endif -%}
          {%- if section.settings.description_1 != blank -%}
            <p>{{ section.settings.description_1 }}</p>
          {%- endif -%}
          {%- if section.settings.description_2 != blank -%}
            <p>{{ section.settings.description_2 }}</p>
          {%- endif -%}
          {%- if section.settings.btn_link != blank -%}
            <a href="{{ section.settings.btn_link }}" class="custom-btn">
              {%- if section.settings.btn_text != blank -%}
                <span>{{ section.settings.btn_text }}<svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="15"
                    viewBox="0 0 18 15"
                    fill="none">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M11.3429 0.292893L17.7069 6.65685C18.0974 7.04738 18.0974 7.68054 17.7069 8.07107L11.3429 14.435C10.9524 14.8256 10.3192 14.8256 9.92869 14.435C9.53816 14.0445 9.53816 13.4113 9.92869 13.0208L14.5855 8.36396H0.999756C0.447471 8.36396 -0.000244141 7.91625 -0.000244141 7.36396C-0.000244141 6.81168 0.447471 6.36396 0.999756 6.36396H14.5855L9.92869 1.70711C9.53816 1.31658 9.53816 0.683418 9.92869 0.292893C10.3192 -0.0976311 10.9524 -0.0976311 11.3429 0.292893Z"
                      fill="black" />
                  </svg>
                </span>
              {%- endif -%}
            </a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Custom Image Content",
    "settings": [
      {
        "type": "image_picker",
        "label": "Select Image",
        "id": "image_1"
      },
      {
        "type": "image_picker",
        "label": "Select Image",
        "id": "image_2"
      },
      {
        "type": "image_picker",
        "label": "Select Image",
        "id": "image_3"
      },
      {
        "type": "text",
        "label": "Main Heading",
        "id": "main_heading",
        "default": "TRUSTED ART SUPPLIER FOR 25+ YEARS"
      }, {
        "type": "text",
        "label": "Sub Heading",
        "id": "sub_heading",
        "default": "Thousands of artists globally rely on us for quality and variety."
      }, {
        "type": "textarea",
        "label": "Description",
        "id": "description_1",
        "default": "Since launching in 1998, we've been a source of artistic inspiration, innovation, and endless possibilities for artists and graffiti enthusiasts alike. Taking our passion online in 2004 marked a pivotal moment, extending our influence globally from our trusted origins as an art supplier in the USA and Canada."
      }, {
        "type": "textarea",
        "label": "Description",
        "id": "description_2",
        "default": "As of now, we're proudly connecting with over 90,000 satisfied customers globally, and that number keeps growing day by day."
      }, {
        "type": "text",
        "label": "Button Text",
        "id": "btn_text",
        "default": "Learn More"
      }, {
        "type": "url",
        "label": "Button Link",
        "id": "btn_link"
      }
    ],
    "presets": [
      {
        "name": "Custom Image Content",
        "settings": {
          "main_heading": "TRUSTED ART SUPPLIER FOR 25+ YEARS",
          "sub_heading": "Thousands of artists globally rely on us for quality and variety.",
          "description_1": "Since launching in 1998, we've been a source of artistic inspiration, innovation, and endless possibilities for artists and graffiti enthusiasts alike. Taking our passion online in 2004 marked a pivotal moment, extending our influence globally from our trusted origins as an art supplier in the USA and Canada.",
          "description_2": "As of now, we're proudly connecting with over 90,000 satisfied customers globally, and that number keeps growing day by day.",
          "btn_text": "Learn More"
        }
      }
    ]
  }
{% endschema %}